# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

TestResults/
packages/
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
x64/
x86/
build/
[Bb]in/
[Oo]bj/
